* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    background-color: #FFF;
}

ul {
    list-style: none;
    padding: 0;
}

.main-sub-menu {
    columns: 2;
    column-rule: 1px solid lightblue;
    width: 400px;
    background-color: blue;
    color: #FFF;
    display: none;
    border-radius: 15px;
    padding: 15px;
}

.main-menu {
    margin-left: 200px;
    border-radius: 15px;
}

.main-menu>li:hover .main-sub-menu {
    display: block;
}

h2 {
    column-span: all;
}