* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    // background-color: #FF00CC;
    background-image: url(./../images/banner3.jpg);
    background-size: cover;
    // background-position: center;
    width: 100%;
    height: 100vh;
    border-radius: 5px;
}

.container .login-form {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    background-color: #DDFFCC;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #CCC;
}

.login-form form label {
    display: block;
    margin-bottom: 5px;
}

.login-form form input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-group input[type="text"]:hover,
.form-group input[type="password"]:hover {
    border: 1px solid #ccc;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
    border: 1px solid #cc1;
    outline: none;
}

.login-form form button {
    padding: 8px 50px;
    width: 40%;
    border: none;
    border-radius: 5px;
    background-color: #00F;
    color: #FFF;
}

.login-form form button:hover {
    cursor: pointer;
    background-color: rgba($color: #00F, $alpha: 0.7);
}